# The Big Mac Index Regression Model
This Notebook outlines all of the steps necessary to create a Regression Model using the price of a Big Mac in three different countries. The basic idea is that historical data is used to build a model that theoretically can be used to infer the price of a Big Mac in those three countries (including the U.S.).

The data source was taken from Kaggle: https://www.kaggle.com/datasets/mrmorj/big-mac-index-data

In [1]:
import pandas as pd

## Import Data
I have the data in Google Drive so I can easily get to it. Note that I already removed a bunch of columns from the original Kaggle dataset for simplicity. For example, I am not using the current variations for each country.

In [2]:
original_mac_df = pd.read_csv('../data/big mac.csv')

## Perform Exploratory Data Analysis
Start with the basics - what's in the dataset.

In [3]:
original_mac_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1386 entries, 0 to 1385
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           1386 non-null   object
 1   iso_a3         1386 non-null   object
 2   currency_code  1386 non-null   object
 3   name           1386 non-null   object
 4   local_price    1386 non-null   float64
 5   dollar_ex      1386 non-null   float64
 6   dollar_price   1386 non-null   float64
dtypes: float64(3), object(4)
memory usage: 75.9+ KB

### Observations
The first four features require some engineering since they are objects. There are no missing values to deal with.

Next, output some of the rows to literally see the data.

In [4]:
original_mac_df.head(10)

,date,iso_a3,currency_code,name,local_price,dollar_ex,dollar_price
0,4/1/2000,ARG,ARS,Argentina,2.50,1.000000,2.500000
1,4/1/2000,AUS,AUD,Australia,2.59,1.680000,1.541667
2,4/1/2000,BRA,BRL,Brazil,2.95,1.790000,1.648045
3,4/1/2000,CAN,CAD,Canada,2.85,1.470000,1.938776
4,4/1/2000,CHE,CHF,Switzerland,5.90,1.700000,3.470588
5,4/1/2000,CHL,CLP,Chile,1260.00,514.000000,2.451362
6,4/1/2000,CHN,CNY,China,9.90,8.280000,1.195652
7,4/1/2000,CZE,CZK,Czech Republic,54.37,39.100000,1.390537
8,4/1/2000,DNK,DKK,Denmark,24.75,8.040000,3.078358
9,4/1/2000,EUZ,EUR,Euro area,2.56,1.075269,2.380800

## Drop Columns You Don't Need
The `iso_a3`, `currency_code`, and `name` columns are essentially the same information. Going to ddrop `iso_a3` and `name`. Shorter text will be easier for the ML to understand (marginally better).

In [5]:
reduced_mac_df = original_mac_df.drop(columns=['iso_a3', 'name'])
reduced_mac_df.head(30)

        date currency_code  local_price    dollar_ex  dollar_price
0   4/1/2000           ARS         2.50     1.000000      2.500000
1   4/1/2000           AUD         2.59     1.680000      1.541667
2   4/1/2000           BRL         2.95     1.790000      1.648045
3   4/1/2000           CAD         2.85     1.470000      1.938776
4   4/1/2000           CHF         5.90     1.700000      3.470588
5   4/1/2000           CLP      1260.00   514.000000      2.451362
6   4/1/2000           CNY         9.90     8.280000      1.195652
7   4/1/2000           CZK        54.37    39.100000      1.390537
8   4/1/2000           DKK        24.75     8.040000      3.078358
9   4/1/2000           EUR         2.56     1.075269      2.380800
10  4/1/2000           GBP         1.90     0.632911      3.002000
11  4/1/2000           HKD        10.20     7.790000      1.309371
12  4/1/2000           HUF       339.00   279.000000      1.215054
13  4/1/2000           IDR     14500.00  7945.000000      1.825047
14  4/1/2000           ILS        14.50     4.050000      3.580247
15  4/1/2000           JPY       294.00   106.000000      2.773585
16  4/1/2000           KRW      3000.00  1108.000000      2.707581
17  4/1/2000           MXN        20.90     9.410000      2.221041
18  4/1/2000           MYR         4.52     3.800000      1.189474
19  4/1/2000           NZD         3.40     2.010000      1.691542
20  4/1/2000           PLN         5.50     4.300000      1.279070
21  4/1/2000           RUB        39.50    28.500000      1.385965
22  4/1/2000           SGD         3.20     1.700000      1.882353
23  4/1/2000           SEK        24.00     8.840000      2.714932
24  4/1/2000           THB        55.00    38.000000      1.447368
25  4/1/2000           TWD        70.00    30.600000      2.287582
26  4/1/2000           USD         2.51     1.000000      2.510000
27  4/1/2000           ZAR         9.00     6.720000      1.339286
28  4/1/2001           ARS         2.50     1.000000      2.500000
29  4/1/2001           AUD         3.00     1.980000      1.515152

## Feature Engineering
The `date` feature need to be converted to a timestamp integer and the `currency_code` needs to be one-hot encoded. The `currenct_code` feature is unordered (one country is not greater or less than another), which is why OHE is used. It will add many more columns.

In [6]:
from datetime import datetime

def create_timestamp(in_date: str) -> int:
  date_as_datetime = datetime.strptime(in_date, '%m/%d/%Y')
  return int(date_as_datetime.timestamp())

In [7]:
#To convert the date for all values in the DataFrame, I'm using a Lambda function.
reduced_mac_df['date'] = reduced_mac_df['date'].apply(lambda x: create_timestamp(x))

one_hot_encoded_df = pd.get_dummies(reduced_mac_df, columns = ['currency_code'])
one_hot_encoded_df.head()

,date,local_price,dollar_ex,dollar_price,currency_code_AED,currency_code_ARS,currency_code_AUD,currency_code_AZN,currency_code_BHD,currency_code_BRL,...,currency_code_SEK,currency_code_SGD,currency_code_THB,currency_code_TRY,currency_code_TWD,currency_code_UAH,currency_code_USD,currency_code_UYU,currency_code_VND,currency_code_ZAR
0,954547200,2.50,1.00,2.500000,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,954547200,2.59,1.68,1.541667,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,954547200,2.95,1.79,1.648045,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,954547200,2.85,1.47,1.938776,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,954547200,5.90,1.70,3.470588,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Build the Model
There are many algorithms that will work, and some may be better suited for this example, but for simplicity and clarity, LinearRegression is used.

In [8]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Set the target and features - this establishes X and y.
y = one_hot_encoded_df['dollar_price']
X = one_hot_encoded_df[one_hot_encoded_df.columns.drop('dollar_price')]

# Split the data between training and test. Both are run with values (supervised learning). We can measure 'accuracy' using this approach.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# Train the model
linear_regression_model = linear_model.LinearRegression()
linear_regression_model.fit(X_train, y_train)

# Get the y-values for the training data, give it the
y_pred_train = linear_regression_model.predict(X_train)

# Now run the test data (note that instead of y_train and X_train, I gave it y_test and X_test)
y_pred_test = linear_regression_model.predict(X_test)

# Check if the model works - R2 or the coefficent of determination indicates what percentage of the y value comes from the x values. Higher is better.
# R2
print('Coefficient of determination (R2) TRAIN: %.2f'% r2_score(y_train, y_pred_train))
print('Coefficient of determination (R2) TEST: %.2f'% r2_score(y_test, y_pred_test))

Coefficient of determination (R2) TRAIN: 0.81
Coefficient of determination (R2) TEST: 0.76

In [9]:
y_pred_test

array([4.36511004, 3.76660705, 5.17902426, 3.31612534, 4.42237486,
       2.73574809, 2.36429798, 2.03871375, 3.00872846, 3.71417147,
       5.85440761, 3.15247154, 3.83083581, 2.9198218 , 3.67109435,
       2.65755914, 2.76813705, 3.64598211, 2.49233394, 4.17056057,
       5.26445845, 4.26856604, 3.9204283 , 2.44655319, 3.58564176,
       2.25491972, 3.77395129, 3.13463789, 2.55964274, 2.46853506,
       3.12986639, 2.61353074, 2.63072618, 1.24803955, 1.97325488,
       3.59559334, 2.41725735, 3.5159711 , 3.63394983, 2.15703043,
       2.65146376, 3.08594658, 4.51924478, 2.34921785, 2.32478469,
       2.80183403, 2.79456781, 3.51940035, 4.48658569, 1.93018607,
       2.03429474, 2.29267517, 2.59485697, 3.03404504, 3.04334462,
       3.86832896, 3.33297477, 3.95212393, 6.75929937, 2.29732534,
       3.23515415, 2.37067481, 3.77904989, 1.11257308, 5.0933627 ,
       1.92183599, 5.40578876, 2.09175397, 5.5978724 , 4.09553099,
       3.2631128 , 3.65322357, 2.30683994, 2.20026973, 2.56579643,
       1.58342803, 3.44570394, 4.07198603, 2.3709756 , 6.882375  ,
       3.81903007, 2.73262405, 2.19772032, 5.24162531, 2.68232201,
       4.96642074, 3.39336478, 4.57834194, 3.43398191, 3.07260955,
       5.83342574, 2.69655719, 2.53123758, 2.91693371, 3.6050749 ,
       3.37076625, 3.94706472, 4.59341197, 1.71671848, 2.2098172 ,
       1.92109695, 2.48077843, 2.7799661 , 4.76434338, 3.47356922,
       2.3867154 , 3.61015586, 6.37426382, 2.98915732, 2.32791162,
       2.48035935, 1.83689312, 1.68968928, 2.72468525, 3.3926594 ,
       2.2090397 , 3.64813848, 3.21722002, 2.62369091, 3.34547733,
       3.11010594, 3.74956112, 3.34352933, 3.13652931, 2.75827076,
       4.40747553, 2.56693915, 2.2637775 , 6.67386606, 4.30971053,
       5.2220909 , 3.2809727 , 3.72989208, 2.49880034, 3.35919312,
       3.00235297, 2.32782334, 4.26899745, 3.05518491, 3.25681377,
       4.0524632 , 2.48041879, 2.39228559, 2.81292873, 2.74688886,
       2.22896049, 3.26867669, 2.16236956, 2.76775136, 3.2652778 ,
       2.86541101, 5.66231839, 1.59703093, 3.32586811, 4.69640678,
       3.42896221, 2.80914002, 2.63496221, 4.4011571 , 3.00525717,
       4.01877025, 2.62751005, 6.36954847, 4.43987379, 2.57035516,
       3.60763628, 3.09201275, 3.43648551, 3.36945023, 3.85640104,
       4.01198371, 4.56842942, 2.50293611, 3.86326655, 4.67884536,
       2.3918481 , 2.87170587, 3.73359398, 3.17137985, 5.9468627 ,
       1.28344044, 2.37631695, 3.43053128, 2.42578446, 3.23069196,
       2.85716684, 2.62082057, 2.96566569, 1.70355916, 2.61702889,
       4.72308352, 2.39492387, 6.11300893, 2.66318173, 4.20890765,
       4.74944316, 2.41632044, 2.89672366, 3.40900837, 4.6046734 ,
       3.01722422, 3.07588599, 3.49818217, 3.87064685, 2.30247936,
       2.44556627, 4.9210304 , 2.57093016, 4.04892855, 4.65992818,
       2.91919682, 2.00387969, 2.66994899, 3.22221189, 2.61123715,
       3.56758163, 2.4214752 , 3.50576328, 4.48293985, 3.37516925,
       5.50518289, 3.49899979, 2.61594247, 3.84795184, 2.32123086,
       4.27944229, 3.77594991, 3.53855662, 4.20837591, 4.4811047 ,
       2.37839672, 4.64056141, 2.56486326, 3.79262914, 1.30905277,
       3.47097831, 2.55178749, 1.51892355, 4.65746681, 4.25150748,
       3.36745448, 2.64894152, 2.9055462 , 2.48282451, 3.09416546,
       2.96402018, 2.98714687, 2.93032451, 3.5244874 , 3.12901482,
       2.52941907, 2.78778653, 2.00631959, 1.97890904, 2.88725722,
       2.79603238, 3.43603737, 3.16116875, 1.56894325, 3.9469516 ,
       3.53353501, 6.62584575, 5.79035567, 2.41022261, 6.84777562,
       2.72452848, 2.12438315, 2.2721516 , 2.91746174, 3.34487302,
       1.59998057, 3.26991717, 3.23501826, 4.86914609, 2.29040968,
       3.69558937, 3.3189591 , 2.28594081, 3.03648748, 2.11437012,
       2.92640037, 2.44301896, 2.4663543 , 3.88159668, 3.03222611,
       4.81814492, 2.73974081, 2.96180706, 3.68868763, 4.29859342,
       3.4292789 , 1.75908465, 2.56349148, 6.41261828, 3.72836665,
       3.20613559, 4.50780823, 4.09675837, 3.28973594, 1.9553164 ,
       2.24526052, 1.66885642, 2.37089113, 3.26204049, 1.88758646,
       2.31462904, 2.14411944, 1.98979609, 2.27156023, 3.81947446,
       2.86112249, 1.84230973, 3.91463074, 2.41357454, 2.90413417,
       2.70626089, 3.80560975, 1.54483443, 3.53609403, 3.88738461,
       3.87095809, 3.40119102, 3.62471971, 1.23196781, 4.70707727,
       4.5508762 , 3.34833006, 4.53597649, 3.19412421, 3.05958982,
       1.58119385, 1.80137553, 3.0970858 , 2.90942226, 1.3761381 ,
       4.66400956, 3.85204066, 1.60436799, 3.32521212, 1.46018185,
       3.79845364, 3.11946462, 3.00303593, 2.29525297, 3.5486331 ,
       1.49552575, 4.33694116])

In [10]:
y_pred_test_series = pd.Series(y_pred_test)
#results_df = pd.DataFrame(data=[y_test, y_pred_test_series], columns=['y_test', 'y_pred_test'])
results_df = pd.DataFrame([y_test, y_pred_test_series])

In [11]:
results_df

,649,208,945,678,802,239,817,527,721,1188,...,333,334,335,336,337,338,340,341,343,345
dollar_price,4.878031,3.513825,4.439742,3.267084,4.795,2.671003,2.303386,1.937935,3.034134,3.596459,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed 0,NaN,4.048929,NaN,NaN,NaN,4.251507,NaN,NaN,NaN,NaN,...,2.909422,1.376138,4.66401,3.852041,1.604368,3.325212,3.798454,3.119465,2.295253,1.495526